body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F3F7FA;
  box-sizing: border-box;
  color: #4A4A4A;
  letter-spacing: 0.5px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
}
